body{
  overflow-x: hidden;
}

.text-gradient{
  background: linear-gradient(91deg, #6071D9 36.51%, #AA676F 63.73%, #CCB41A 97.49%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Filter */
.filter-content{
  filter: contrast(21%) invert(23%);
  -webkit-filter: contrast(65%) invert(23%);
  -moz-filter: contrast(10%) invert(23%);
}

/* Overlay after open popup */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

/* Mobile menu style's */
.mobile-menu {
  top: -100vh;
  left: 0;
  transition: 0.5s;
}

.mobile-menu.active {
  top: 90px;
}

.mobile-menu ul li ul {
  display: none;
}

.mobile-menu ul li:hover ul {
  display: block;
}



#swiper2{
  margin-top: 50px;
  max-width: 1440px;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #swiper2 {
    max-width: 768px;
  }
}

@media screen and (max-width: 640px) {
  #swiper2 {
    max-width: 640px;
  }
}


#swiper2 .swiper-slide figure{
  height: 100%;
  max-width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#swiper2 .swiper-slide figure img{
  height: 100%;
  max-width: 100%;
}


#swiper2 .swiper-slide{
  width: 100%;
  height: 100%;
}

.swiperNavigationBox [class^="swiper-button-prev"]::after{
  background-color: #ebebeb85;
  border-radius: 24px;
  color: #2d2d48;
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: 25px 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 35px;
}
[class^="swiper-button-prev"]:hover::after{
  background: #EBEBEB;
}

.swiperNavigationBox [class^="swiper-button-next"]::after{
  background-color: #ebebeb85;
  border-radius: 24px;
  color: #2d2d48;
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: 25px 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 35px;
}
[class^="swiper-button-next"]:hover::after{
  background: #EBEBEB;
}

/* Animations */
/* Rotate Animation */
@keyframes rotateAnimation {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 10deg;
  }
  100% { 
    rotate: 0deg;
  }
}

.rotateAnimation {
  animation: rotateAnimation 8s infinite;
}



/* Left To Right Floating */
@keyframes leftToRightAnimation {
  0% {
    left: -15px;
  }
  50% {
    left: 15px;
  }
  100% {
    left: -15px;
  }
}

.left-to-rightAnimation {
  animation: leftToRightAnimation 1s ease-in-out infinite;
}

